@model Book_Store.Models.DomainModels.Book
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<div class="text-center">
  <h1>@localizer["WelcomeMessage"]</h1>
  <ul class="list-group">
    <li class="list-group-item list-group-item-heading list-group-item-success">
      <h5>
        <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.BookId">@Model.Title</a>
      </h5>
    </li>
  </ul>
</div>


