@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{ 
  ViewData["Title"] = "Checkout";
}

<h1>@localizer["Checkout"]</h1>
<ul class="list-group">
  <li class="list-group-item">
    <h4>@localizer["Message1"]</h4>
  </li>
  <li class="list-group-item">
    @localizer["Message2"]
  </li>
</ul>
